.brass-lessons-section {
  padding: 5% 10%;
  color: white;
  text-align: left;

//   h1 {
//     font-size: 3em;
//     margin-bottom: 20px;
//   }

//   p {
//     font-size: 1.2em;
//     line-height: 1.6;
//     margin-bottom: 20px;
//   }

//   a {
//     color: #ffce00;
//     text-decoration: underline;
//   }
}
