.contact_wrapper {
  width: 82%;
  margin: 0 auto;
  padding: 20px;

  svg {
    font-size: 1em;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;

  .contact-submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;

    &:hover {
      background-color: #5000ca;
    }

    &:disabled {
      opacity: 0.65;
      cursor: not-allowed;
    }
  }

  fieldset {
    background-color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

