footer {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  color: #111;

  &.dark-mode {
    background-color: #181818;
    color: white;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

    a {
      position: relative;
      width: 32px;
      height: 32px;

      svg {
        font-size: 2rem;
        color: inherit;
      }

      .discord-icon-wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        .discord-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: opacity 0.3s ease;

          &.hover {
            opacity: 0;
          }

          &.base {
            opacity: 1;
          }
        }

        &:hover .discord-icon.hover {
          opacity: 1;
        }

        &:hover .discord-icon.base {
          opacity: 0;
        }
      }
    }
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }
}
