.dark-mode .about-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 15%;
    min-height: 700px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.about-section .content {
    text-align: left;
    z-index: 2;
}

.about-section .content .social_icons,
.about-section .content .mobile_social_icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

.about-section .content .social_icons svg,
.about-section .content .mobile_social_icons svg {
    font-size: 1.8em;
}

.about-section .content .mobile_social_icons {
    display: none;
}

.about-section .content p {
    font-size: 1.5em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.about-section .content h1 {
    font-size: 5em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.about-section .image-wrapper {
    z-index: 2;
}

.about-section .image-wrapper img {
    width: 150px;
    border-radius: 50%;
}

.about p {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
}

/* Discord icon styles */
.social_icons a, .mobile_social_icons a {
    position: relative;
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    margin-right: 10px;
}

.discord-icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.discord-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.discord-icon:not(.hover) {
    opacity: 1;
}

.discord-icon.hover {
    opacity: 0;
}

.social_icons a:hover .discord-icon:not(.hover),
.mobile_social_icons a:hover .discord-icon:not(.hover) {
    opacity: 0;
}

.social_icons a:hover .discord-icon.hover,
.mobile_social_icons a:hover .discord-icon.hover {
    opacity: 1;
}

.about-section .content p {
  font-size: 1.5em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  animation: fadeIn 0.5s ease-in-out;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  color: black;
//   transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode footer {
  background-color: #121212;
  color: #f5f5f5;
}

footer a svg,
footer .discord-icon-wrapper img {
  filter: none;
  transition: filter 0.3s ease;
}

.dark-mode footer a svg,
.dark-mode footer .discord-icon-wrapper img {
  filter: brightness(0.8);
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 567px) {
    .nav-left {
        padding-top: 20px;
        float: left;
    }

    .nav-left img {
        height: 35px;
    }

    .nav-right {
        float: right;
    }

    .nav-right li {
        padding: 10px 15px;
        list-style: none;
        font-size: 13px;
        color: white;
        width: 10%;
    }

    .nav-right ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    body {
        width: 100%;
    }

    .about {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .about-section h1 {
        font-size: 4em !important;
        text-align: left;
    }

    .about-section p {
        text-align: left;
    }

    .container {
        display: initial;
    }

    .social_icons {
        display: none !important;
    }

    .mobile_social_icons {
        padding-top: 10px;
        display: flex !important;
        flex-direction: row;
        gap: 10px;
        color: white;
    }

    .mobile_social_icons svg {
        font-size: 1.8em;
    }

    .about-section {
        padding-top: 150px;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about-section .content {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .about-section .image-wrapper {
        padding-left: 5%;
        width: 100%;
    }
}