.projects-container {
    padding: 5% 10%;
    text-align: left;
    
    h1 {
        margin-bottom: 40px;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.project {
    text-align: left;
    
    h2 {
        margin: 20px 0 10px 0;
        transition: color 0.3s ease;
        
        &:hover {
            color: #5000ca;
        }
    }
    
    p {
        line-height: 1.6;
        margin-bottom: 20px;
    }
    
    img {
        border-radius: 8px;
        transition: transform 0.3s ease;
    }
    
    .zoom:hover {
        transform: scale(1.02);
    }
}

.project-image-hover {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    
    img {
        transition: opacity 0.3s ease-in-out;
        width: 100%;
        display: block;
        border-radius: 8px;
    }
    
    .image-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    
    &:hover .image-hover {
        opacity: 1;
    }
    
    &:hover .image-default {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}